@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-9 col-xs-12">
        <div id="figure"></div>
    </div>
    <div class="col-sm-3 col-xs-12">
        <button type="button" id="btnAdd">Add row</button>
        <table id="valuesTable">
            <tr>
                <td>
                    <input type="text" placeholder="x" name="x" />
                </td>
                <td>
                    <input type="text" placeholder="y" name="y" />
            </tr>
        </table>
        <br />
        <div class="row">
            <div class="col-xs-4 col-sm-6">
                <input type="submit" />
            </div>
            <div class="col-xs-8 col-sm-6">
                <input id="area" type="text" placeholder="Area of figure" name="area" readonly />
            </div>
        </div>
    </div>
</div>

<script>
    var xValues,
        yValues;

    $(document).ready(function () {
        var row = $('#valuesTable tr').clone();

        $("input[type='submit'").click(function () {

            xValues.clean("");
            yValues.clean("");
            if (xValues.length === yValues.length && xValues.length > 2) {
                var http = new XMLHttpRequest();
                var url = "@Url.Action("CalculateFigureArea", "Home")";
                var points = [];
                xValues.forEach(function (el, i) { points.push({ x: el, y: yValues[i] }) });

                var params = JSON.stringify(points);

                http.open('POST', url, true);

                http.setRequestHeader('Content-type', 'application/json');

                http.onreadystatechange = function () {
                    if (http.readyState == 4 && http.status == 200) {
                        var jsonResponse = JSON.parse(http.responseText);
                        if (!jsonResponse["isValidArea"]) $("#area").css("color", "red");
                        $("#area").val(jsonResponse["value"]);
                    }
                }
                http.send(params);
            }
        });

        $('#btnAdd').click(function () {
            row.clone().appendTo('#valuesTable');
            $("#ulDynamic").find("li:first").trigger("click");
        });

        $("#valuesTable").on("change", "input", function () {
            xValues = $.map($("tr input[name='x']"), function (opt) { return opt.value; });
            yValues = $.map($("tr input[name='y']"), function (opt) { return opt.value; });
            xValues.clean("");
            yValues.clean("");

            //if (xValues.length === yValues.length && xValues.length > 2) {

                var coordinates = [];

                for (var i = 0; i < xValues.length; i++) {
                    coordinates.push(xValues[i]);
                    coordinates.push(yValues[i]);
                }

                if (coordinates.some(checkSize)) {
                    var max = Math.max(...coordinates);
                    var coef = max / 500;
                    coordinates = coordinates.map(function (element) {
                        return parseFloat(element / coef);
                    });
                }

                drawFigure(coordinates);
            //}

        });
    });

    function checkSize(value) {
        return value > 500;
    }

    function rescaleValue(value) {
        return value;
    }

    Array.prototype.clean = function (deleteValue) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] === deleteValue) {
                this.splice(i, 1);
                i--;
            }
        }
        return this;
    };

    function drawFigure(coordinates) {

        var stage = new Konva.Stage({
            container: 'figure',
            width: 500,
            height: 500
        });

        var layer = new Konva.Layer();

        var poly = new Konva.Line({
            points: coordinates,
            fill: '#00D2FF',
            stroke: 'black',
            strokeWidth: 1,
            closed: true
        });

        // add the shape to the layer
        layer.add(poly);

        // add the layer to the stage
        stage.add(layer);
    }
</script>